.wrapper {margin-top: 120px; margin-bottom: 70px;}
.timeline-spinner {text-align: center;}
.end-message {
	margin-top: 20px;
	text-align: center;
	color: #567f8e;
	div {color: #9b9a9a;}
}
.timeline-msg {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 300px 300px;
	font-size: 30px;
	color: #567f8e;
	a {
		color: #567f8e;
		font-weight: 600;
		&:hover {text-decoration: underline;}
	}
}
.post-image {
	position: relative;
	img {
		width: 400px;
		object-fit: contain;
		border-radius: 10px;
		box-shadow: 1px 3px 10px -4px #c1ccd5;
	}

	.delete-post {
		opacity: 0;
		position: absolute;
		top: 20px;
		left: 40%;
		button {
			padding: 6px 12px;
			color: #fff;
			background: #990d15;
			border: 1px solid #990d15;
			border-radius: 100px;
		}
	}

	.delete-post-mobile {
		display: none;
		position: absolute;
		top: 20px;
		left: 20px;
		i {
			color: #990d15;
		}
	}

	&:hover {
		.delete-post {opacity: 1;}
	}
}

@media (max-width: 995px) {
	.delete-post-mobile {
		display: block !important;
	}
	.timeline-msg {
		padding: 200px 0px;
	}
	.delete-post {display: none;}
}
